.explore{
    padding-top: 150px;
    position: relative;
    margin-bottom: 270px;
}
.explore-title{
    @extend %title;
    color: $mainColor;
    text-align: center;
}
.explore-subtitle{
    @extend %subtitle;
    text-align: center;
    width: 604px;
    margin-left: 400px;
    margin-top: 24px;
    margin-bottom: 90px;
}
.explore-list {
    display: flex;
    justify-content: space-between;
}

.explore-item {
    border-radius: 24px;
    background: linear-gradient(152deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 30px 60px 0px rgba(163, 168, 178, 0.15);
    width: 393px;
    height: 540px;
    flex-shrink: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.explore-list-title {
    color: $mainColor;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
}

.explore-list-text {
    @extend %subtitle;
    text-align: left;
}
.explore-btn{
    @extend %btn;
    width: 240px;
    padding: 15px 30px;
    gap: 10px;
    align-self: center;
}
.explore-img{
    position: absolute;
    left: -60px;
    top: 20px;
}